h1 {
    font-family: var(--font-gt);
  }

  .helvetica {
    font-family: var(--font-he);
  }

  .gtflexamed {
    font-family: var(--font-gt);
  }

  .bachelorette {
    font-family: var(--font-ba);
  }

  .text-with-stroke {
    text-shadow:
      -1px -1px 0 #000,  
       1px -1px 0 #000,
      -1px  1px 0 #000,
       1px  1px 0 #000; /* Shadow color and positions */
  
    /* Vendor prefixes */
    -webkit-text-stroke: 1px #000; /* Stroke for WebKit */
  }
  