---

---
<section class="flex flex-col w-full h-auto bg-cover py-14 px-10 md:py-12 md:px-16 lg:px-20 lg:py-16">

  <div class="absolute left-0 top-4 text-green-200 animate-marquee whitespace-nowrap -z-10">
      <span class="text-8xl mx-4 uppercase">Glamorous camping</span>
      <span class="text-8xl mx-4 uppercase">Glamorous camping</span>
      <span class="text-8xl mx-4 uppercase">Glamorous camping</span>
      <span class="text-8xl mx-4 uppercase">Glamorous camping</span>
  </div>





<div class="flex justify-evenly gap-6">  
  <div class="w-1/3"></div>
  <div class="w-1/3 mb-24">
    <h2 class="text-4xl">Co je glamping</h2>
    <p>Okouzlující kempování v obklopení přírody. V luxusu. V pohodlí. Místo, kde dosáhnete digitálního detoxu a odpočinete si od rušného velkoměsta.</p>
  </div>
  <div class="flex w-1/3 self-end justify-end">
    <div class="flex w-2/3 items-start">
      <p class="text-6xl">"</p>
      <p class="uppercase">Glamping je o <span class="text-green-900">zážitcích</span> a <span class="text-green-900">odpočinku</span> na okouzlujícím místě.</p>
    </div>
  </div>
</div>


<!-- Image wrapper-->
  <div class="flex justify-evenly gap-6">  
    <figure>
      <img src="src/assets/images/firstSection_image_1.jpg" alt="" class="max-w-1/3 mt-16"/>
    </figure>

    <figure>
      <img src="src/assets/images/firstSection_image_2.jpg" alt="" class="max-w-1/3"/>
    </figure>

    <figure>
      <img src="src/assets/images/firstSection_image_3.jpg" alt="" class="max-w-1/3 mt-10"/>
    </figure>
  </div>

</section>