---

---
<section class="relative lex flex-col w-full h-screen bg-cover py-14 px-10 md:py-12 md:px-16 lg:px-20 lg:py-16 bg-auto bg-center lg:bg-center">

  <div class="absolute top-4 animate-marquee2 whitespace-nowrap">
    <span class="text-8xl mx-4 uppercase">Glamorous camping</span>
    <span class="text-8xl mx-4 uppercase">Glamorous camping</span>
    <span class="text-8xl mx-4 uppercase">Glamorous camping</span>
    <span class="text-8xl mx-4 uppercase">Glamorous camping</span>
    <span class="text-8xl mx-4 uppercaseß">Glamorous camping</span>
  </div>


<div class="flex justify-evenly gap-6">  
  <div class="w-1/3"></div>
  <div class="w-1/3 mb-24">
    <h2 class="text-4xl">Co je glamping</h2>
    <p>Okouzlující kempování v obklopení přírody. V luxusu. V pohodlí. Místo, kde dosáhnete digitálního detoxu a odpočinete si od rušného velkoměsta.</p>
  </div>
  <div class="w-1/3 self-end">
  <p>Glamping je o zážitcícha odpočinku na okouzlujícím místě.</p>
  
  </div>
</div>


<!-- Image wrapper-->
  <div class="flex justify-evenly gap-6">  
    <figure>
      <img src="src/assets/images/firstSection_image_1.jpg" alt="" class="max-w-1/3 mt-16"/>
    </figure>

    <figure>
      <img src="src/assets/images/firstSection_image_2.jpg" alt="" class="max-w-1/3"/>
    </figure>

    <figure>
      <img src="src/assets/images/firstSection_image_3.jpg" alt="" class="max-w-1/3 mt-10"/>
    </figure>
  </div>

</section>