---

---
<div class="w-[1440px] h-[1024px] relative">
  <div class="w-[559px] left-[153px] top-[629px] absolute text-white text-7xl font-medium font-['GT Flexa'] uppercase leading-[72px]">Okouzlete přírodou, <br/>investujte</div>
  <div class="w-[559px] left-[154px] top-[870px] absolute text-green-200 text-7xl font-medium font-['GT Flexa'] uppercase leading-[72px]">glampingu</div>
  <div class="left-[148px] top-[838.23px] absolute origin-top-left rotate-[-15deg] text-white text-7xl font-normal font-['Bachelorette PERSONAL USE ONLY'] leading-[74.16px]">do</div>
</div>