---
import { Image } from 'astro:assets';
import sectionBackground from "./../../assets/images/secondSection_image.jpg"
import sectionLine from "./../../assets/images/section-line.svg"
---
<section id="secondSection" class="relative flex flex-col items-center lg:mt-60">

  
  <!-- <Image src={sectionLine} alt={"section line"} class="absolute bottom-10"/> -->
  
  <!-- Content wrapper -->

  <!-- <div class="relative w-1/2 place-self-start ml-60">
      <h2 class="text-8xl uppercase">
          Popularita <span class="absolute text-green-800 text-4xl -left-10 top-20">glampingu</span>roste
      </h2>
  </div> -->


<!-- Column wrapper -->
  <div class="flex">  
    <div class="w-1/3"></div>
    <div class="w-1/3 mb-24">
      <p>Glamping je populární. Poptávka po něm celosvětově roste. Za noc v glampingu hosté zaplatí od 2 do 7 tisíc korun.</p>
      <p>Nejpopulárnější je mezi mladými, kteří pobyty navzájem sdílejí na sítích. Pokud děláte glamping dobře až 80% nocí je ročně zarezervováno.</p>
    </div>
    <div class="flex w-1/3 self-end justify-end">
      <div class="flex items-start">
        <p class="text-6xl">"</p>
        <div class="flex flex-col">
          <p class="uppercase">v roce <span class="text-green-900">2030</span> má být  glampingový trh <span class="text-green-900">dvojnásobný</span></p>
          <span class="text-sm">Zdroj: GrandView Reserach</span> 
        </div>
      </div>
    </div>
  </div>

</section>

<!-- Div image -->
<div class="relative flex w-full h-80 bg-cover bg-center lg:bg-center" style=`background-image: url(${sectionBackground.src})`>

<!-- <span class="text-orange-900 uppercase absolute rotate-[90deg]">Investujte do vlastního glampingu</span> -->

</div>