---
import { Image } from 'astro:assets';
import sectionBackground from "./../../assets/images/secondSection_image.jpg"
// import sectionLine from "./../../assets/images/section-line.svg"
import SectionLine from './../../components/SectionLine.astro'
---
<section id="secondSection" class="relative h-screen">
  
  <!-- Section line -->
  <SectionLine/>

  <!-- Column layout -->
  <div class="relative grid grid-cols-6 lg:grid-cols-12 px-5">
    <!-- Content columnt -->
      <div class="col-start-1 col-span-6 lg:col-start-2 lg:col-span-9 mt-[3.5rem]">
        <!-- Content wrapper -->
        <div class="relative">
          <h2 class="gtflexamed tracking-tight text-[10vw] leading-[9.2rem] uppercase">Popularita <span class="lowercase absolute text-green-800 bachelorette text-[5vw] -left-[4.5rem] bottom-[8rem]">glampingu</span>roste</h2>
        </div>
      </div>
  </div>
  </div>

</section>





<!-- 
<div class="relative flex w-full h-80 bg-cover bg-center lg:bg-center" style=`background-image: url(${sectionBackground.src})`>
  <span class="text-orange-900 uppercase absolute rotate-[90deg]">Investujte do vlastního glampingu</span>
</div> -->



