---

---
<section id="secondSection" class="flex flex-col"></section>
<!-- Content wrapper -->
<div class="relative bg-red-900 w-1/2">
    <h2 class="text-5xl sm:text-6xl md:text-7xl lg:text-8xl font-medium font-['GT Flexa'] uppercase tracking-tight leading-none">
        Popularita <span class="absolute text-green-200 text-4xl -left-10 top-20">glampingu</span>roste
    </h2>
</div>
<!-- Column wrapper -->
<div class="flex justify-evenly gap-6">  
    <div class="w-1/3"></div>
    <div class="w-1/3 mb-24 flex flex-col gap-6">
      <p>Glamping je populární. Poptávka po něm celosvětově roste. Za noc v glampingu hosté zaplatí od 2 do 7 tisíc korun.</p>
      <p>Nejpopulárnější je mezi mladými, kteří pobyty navzájem sdílejí na sítích. Pokud děláte glamping dobře až 80% nocí je ročně zarezervováno.</p>
    </div>
    <div class="flex w-1/3 self-end justify-end">
      <div class="flex w-2/3 items-start">
        <div class="text-6xl">"</div>
        <div class="flex flex-col">
            <p class="uppercase">v roce <span class="text-green-900">2030</span> má být  glampingový trh <span class="text-green-900">dvojnásobný</span></p>
        <span class="text-sm">Zdroj: GrandView Reserach</span>        
    </div>
      </div>
    </div>
  </div>
</div>

</section>

<!-- Div image -->
<div class="relative flex w-full h-80 bg-cover bg-auto bg-center lg:bg-center" style=`background-image: url(/src/assets/images/secondSection_image.jpg)`>
<span class="text-orange-900 uppercase absolute rotate-[90deg]">Investujte do vlastního glampingu</span>
</div>