---
import { Image } from 'astro:assets';
import circleSvg from "./../assets/images/circle.svg"

---


<div class="hidden md:hidden lg:block absolute bottom-12 right-24 fixed">
    <Image src={circleSvg} alt={"circle svg"} class="max-w-24 animate-rotate"/>
</div>



<!-- 

    TODO!!!

1. Link to footer
2. Getting bigger
3. Responsivenerss
4. Positioning

-->