---
import { Image } from 'astro:assets';
import circleSvg from "./../assets/images/circle.svg"

---


<div class="absolute bottom-12 right-24">
    <Image src={circleSvg} alt={"circle svg"} class="max-w-24 animate-spin"/>
</div>