---
import { Image } from 'astro:assets';
import circleSvg from "./../assets/images/circle.svg"

---


<div class="hidden md:hidden lg:block fixed z-40 bottom-20 right-0">
    <Image src={circleSvg} alt={"circle svg"} class="max-w-22 animate-rotate"/>
</div>



<!-- 

    TODO!!!

1. Link to footer
2. Getting bigger
3. Responsivenerss
4. Positioning

-->