---
import { Image } from 'astro:assets';
import circleSvg from "./../assets/images/circle.svg"

---


<div class="hidden md:block fixed z-40 bottom-0 right-0">
    <Image src={circleSvg} alt={"circle svg"} class="max-w-22 animate-rotate"/>
</div>

