---

---
<!-- 
 <div id="fullscreen-menu-wrapper" class="fixed inset-0 z-50 bg-dark-green-100">

        <div class="grid grid-cols-6 h-screen px-[17.5px]">


            <div class="col-span-2 text-center bg-orange-300">Abc</div>


            <div class="col-start-1 col-span-6 text-left bg-red-900">

                <ul class="list-none w-full h-full text-white flex flex-col justify-center">
                    <div class="flex flex-col gap-2 mb-4">
                        <li><a class="text-[24px] uppercase gtflexamed tracking-tight" href="#">Můj glamping™</a></li>
                        <li><a class="text-[24px] uppercase gtflexamed tracking-tight" href="#">Glampiny-house™</a></li>
                        <li><a class="text-[24px] uppercase gtflexamed tracking-tight" href="#">O nás</a></li>
                        <li><a class="text-[24px] uppercase gtflexamed tracking-tight" href="#">Kontakt</a></li>
                    </div>

                    <div class="flex flex-col gap-1">
                        <li><a class="text-[16px] font-thin" href="mailto:hello@glamping.cz">hello@glamping.cz</a></li>
                        <li><a class="text-[16px] font-thin" href="tel:+420585451251">+420 585 451 251</a></li>
                    </div>
                 </ul>
        
            </div>

            <div class="col-start-5 col-span-2 text-center bg-orange-300">Abc</div>
        
        </div>
 </div> -->
