---
import { Image } from 'astro:assets';
import heroBadge from "./../assets/images/hero--badge.svg"
import stars from "./../assets/images/stars.png"
import drops from "./../assets/images/drops.png"
---

<h1>Footer component</h1>

