---
import Navbar from '../components/Navbar.astro'
import { Image } from 'astro:assets';
import logoImage from "./../assets/images/logo.png"
---
<header class="sticky top-0">

    <div class="grid grid-cols-12 gap-2">
    
        <!-- Delete this div -->
        <div class="col-span-1 bg-gray-100"></div>
    
        <div class="col-start-2 col-span-10 bg-red-100">

        <div class="flex flex-row-reverse md:flex md:flex-row justify-between items-center">
            <Navbar/>
            <Image src={logoImage} alt={"logo image"}/>
        </div>

        </div>

        <!-- Delete this div -->
        <div class="col-span-1 bg-gray-100"></div>

    </div>
    
    
</header>