---
import Navbar from '../components/Navbar.astro'
import { Image } from 'astro:assets';
import logoImage from "./../assets/images/logo.png"
---
<header id="header" class="sticky top-0 ">
    <!-- Column layout -->
    <div class="grid grid-cols-6 lg:grid-cols-12 px-5 sm:items-center sm:h-[60px] lg:h-auto">
         <!-- Helper column / delete later -->
        <div class="hidden col-span-1 bg-gray-100"></div>
        <!-- Content column -->
        <div class="col-start-1 col-span-6 lg:col-start-2 lg:col-span-10">
            <!-- Navbar wrapper -->
            <div class="flex flex-row-reverse md:flex md:flex-row justify-between items-center">
                <Navbar/>
                <Image src={logoImage} alt={"logo image"} class="z-50"/>
            </div>
        </div>
        <!-- Helper column / delete later -->
        <div class="hidden col-span-1 bg-gray-100"></div>
    </div>
</header>


<!-- 
WHEN STICKY:

bg-white/90 border-b-[1px] border-b-black md:border-none z-50 -->


