---

---
  <div class="relative flex overflow-x-hidden text-glamping-light-green-100 uppercase -z-10 -mb-[3rem] lg:-mb-[5.5rem]">
      <div class="animate-marquee whitespace-nowrap">
        <span class="gtflexamed tracking-tighter mx-4 text-[72px] lg:text-[144px]">Glamorous camping</span>
        <span class="gtflexamed tracking-tighter mx-8 text-[72px] lg:text-[144px]">Glamorous camping</span>
        <span class="gtflexamed tracking-tighter mx-8 text-[72px] lg:text-[144px]">Glamorous camping</span>
        <span class="gtflexamed tracking-tighter mx-8 text-[72px] lg:text-[144px]">Glamorous camping</span>
        <span class="gtflexamed tracking-tighter mx-8 text-[72px] lg:text-[144px]">Glamorous camping</span>
      </div>
    
      <div class="absolute top-0 animate-marquee2 whitespace-nowrap">
      <span class="gtflexamed tracking-tighter mx-4 text-[72px] lg:text-[144px]">Glamorous camping</span>
      <span class="gtflexamed tracking-tighter mx-8 text-[72px] lg:text-[144px]">Glamorous camping</span>
      <span class="gtflexamed tracking-tighter mx-8 text-[72px] lg:text-[144px]">Glamorous camping</span>
      <span class="gtflexamed tracking-tighter mx-8 text-[72px] lg:text-[144px]">Glamorous camping</span>
      <span class="gtflexamed tracking-tighter mx-8 text-[72px] lg:text-[144px]">Glamorous camping</span>
      </div>
    </div>
