---

---
  <div class="relative flex overflow-x-hidden text-glamping-light-green-100 uppercase -z-10">
      <div class="animate-marquee whitespace-nowrap">
        <span id="gtflexamed" class="mx-4 text-[144px]">Glamorous camping</span>
        <span id="gtflexamed" class="mx-8 text-[144px]">Glamorous camping</span>
        <span id="gtflexamed" class="mx-8 text-[144px]">Glamorous camping</span>
        <span id="gtflexamed" class="mx-8 text-[144px]">Glamorous camping</span>
        <span id="gtflexamed" class="mx-8 text-[144px]">Glamorous camping</span>
      </div>
    
      <div class="absolute top-0 animate-marquee2 whitespace-nowrap">
      <span id="gtflexamed" class="mx-4 text-[144px]">Glamorous camping</span>
      <span id="gtflexamed" class="mx-8 text-[144px]">Glamorous camping</span>
      <span id="gtflexamed" class="mx-8 text-[144px]">Glamorous camping</span>
      <span id="gtflexamed" class="mx-8 text-[144px]">Glamorous camping</span>
      <span id="gtflexamed" class="mx-8 text-[144px]">Glamorous camping</span>
      </div>
    </div>
