---

---

<nav class="flex justify-betweeb items-center py-2">
    <ul class="list-none flex uppercase">
        <li class="mr-4"><a href="#">Můj glamping™</a></li>
        <li class="mr-4"><a href="#">Glampiny-house™</a></li>
        <li class="mr-4"><a href="#">O nás</a></li>
        <li class="mr-4"><a href="#">Kontakt</a></li>
    </ul>
</nav>