---

---
<div class="absolute">
    <svg width="1440" height="504" viewBox="0 0 1440 504" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 498.157C0.381836 494.72 5.03194 491.699 7.28931 489.441C15.9687 480.762 23.3101 471.547 31.0588 462.027C45.734 443.998 64.0839 429.527 79.0732 411.873C90.9515 397.883 103.53 384.525 117.421 372.495C152.059 342.499 186.747 312.057 223.75 285.023C244.359 269.968 261.026 256.238 287.849 249.369C314.672 242.501 331.399 249.429 349.095 254.282C381.763 263.239 414.522 276.536 448.451 279.873C474.195 282.406 499.755 284.231 525.623 284.231C555.61 284.231 583.42 285.007 612.144 274.803C644.231 263.403 675.323 251.222 704.766 233.84C731.338 218.153 755.44 200.284 780.907 182.973C812.011 161.831 839.977 136.357 872.42 117.132C893.234 104.798 914.761 93.0861 937.311 84.5674C972.182 71.3937 1014.19 77.4365 1050.77 77.4365C1080.33 77.4365 1109.79 78.8627 1139.35 78.8627C1160.13 78.8627 1180.68 76.0103 1201.39 76.0103C1212.69 76.0103 1224.87 72.1088 1235.78 69.5926C1254.05 65.3757 1272.24 61.1882 1290.05 55.2517C1305.56 50.0807 1317.98 40.3098 1332.12 32.3537C1339.23 28.3543 1344.82 24.1942 1352.72 21.1028C1363.67 16.8177 1375.41 12.3386 1386.87 9.69344C1400.16 6.62711 1426.32 3.28952 1440 7.5" stroke="#C8E8C3" stroke-width="10" stroke-linecap="round"/>
    </svg>
</div>